red =  #FF4D5B
fontc = #333333

@font-face
{
    font-family: 'SF';
    src: url('../fonts/SF-Compact-Display-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'SF';
    src: url('../fonts/SF-Compact-Display-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: 'Futura';
    src: url('../fonts/futura medium bt.ttf');
    font-weight: bold;
    font-style: normal;
}
